@use '../../assets/mixins' as mx;
@use '../../assets/var';

.productBoxContainer {
	width: 20%;
	padding: .5rem;

	&:hover .productBox{
			box-shadow: 0 6px 16px rgba($color: #000000, $alpha: .32);
			transform: translateY(-.25rem)
	}
}

.productBox {
	@include mx.flex-direction(column);
	width: 100%;
	border: 1px solid rgba($color: #000000, $alpha: .16);
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
	border-radius: .5rem;
	padding: .5rem;
	overflow: hidden;
	background: var.$white;
	transition: ease all .3s;

	ul {
		@include mx.flex-direction(column);
	}

	.brand{
		font-size: .875rem;
		font-weight: 500;
		color: var.$text-color;
	}

	img {
		width: 100%;
		transition: ease all .2s;
		margin-bottom: 1rem;
	}

	.description {
		font-weight: 700;
		font-size: 1rem;
		height: 2rem;
		overflow: hidden;
		margin: .25rem 0;

		a{
			color: var.$text-color;
		}
	}

	.price{
		margin: .5rem 0;
		font-size: 1.5rem;
		font-weight: 700;
		color: var.$alert;
	}

	.stock{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1.5rem;
		width: max-content;
		padding: 0 .5rem;
		background: var.$yellowPrimary;
		color: var.$text-color;
		font-size: .75rem;
		font-weight: 700;
		border-radius: 1rem;
	}
}