@use '../../assets/mixins.scss' as *;

nav {
    @include flex-row;
    @include flex-center;
    @include size(100%, 4rem, $radius: 0);
    /*@include shadow(0, 3px, 6px, #000, .16);*/
    padding: 0 16vw;

    .logo{
        @include size(3rem, 3rem, $radius: 100%);
        justify-self: flex-start;
        margin-right: auto;
        overflow: hidden;
        img{
            width: 100%;
        }
    }

    ul{
        @include flex-row;
        @include flex-center;
    }

    .cartWidget{
        justify-self: flex-end;
        margin-left: auto;
    }
}