$font-family: 'Roboto', sans-serif;
$yellowPrimary: hsla(42, 93%, 65%, 1);
$greenPrimary: hsla(62, 76%, 42%, 1);
$accentColor: hsla(172, 97%, 35%, 1);
$text-color: hsla(0, 0%, 24%, 1);
$alert: hsla(2, 94%, 38%, 1);
$white: hsla(0, 0%, 100%, 1);
$lightGrey: hsla(0, 0%, 98%, 1);
