@use './assets/mixins.scss' as *;
@use './assets/var.scss' as var;

.App {
  @include flex-direction(column);

  header{
    z-index: 1;
  }

  footer{
    display: none;
    height: 4rem;
    background: var.$lightGrey;
  }
}
